 <div class="overflow">
<% if users.any? %>
  <ul class="list-unstyled">
    <% users.each do |user| %>
     <div class="card card-body  w-50 mx-auto mb-3">
      <li class="media">
         <div class ="userprofile ">
            <% if user.image_name? %>
            <%= image_tag user.image_name.thumb100.url %>
            <% else %>
            <%= image_tag 'default.png', :size => '50x50' %>
            <% end %>
          </div>  
        <div class="media-body ml-4 ">
           <p class="font-weight-bold"><%= link_to user.name, user_path(user) %></p>
            <p><%= user.content %></p>
        </div>
        <div class="text-right"> 
         <%= render 'relationships/follow_button', user: user %>
         </div>
      </li>
    </div>  
    <% end %>
  </ul>
  <%= paginate users %>
<% end %>  
</div>
