 <div class="overflow">
<% if users.any? %>
  <ul class="list-unstyled">
    <% users.each do |user| %>
     <div class="card card-body  w-50 mx-auto mb-3", id="usercard">
      <li class="media", id="usercardinner">
         <div class ="userprofile ">
            <% if user.image_name? %>
            <%= image_tag user.image_name.thumb100.url %>
            <% else %>
            <%= image_tag 'default.png', :size => '50x50' %>
            <% end %>
          </div>  
        <div class="media-body ml-4 ">
         <div class="d-flex">
            <div class="flex-grow-1">
           <span class="font-weight-bold"><%= link_to user.name, user_path(user) %></span>
            </div>
            <div>
              <%= render 'relationships/follow_button', user: user %>
            </div>
        </div>
           <div class="profile-intro">
            <p><%= user.content %></p>
           </div>
        </div>
       
      </li>
    </div>  
    <% end %>
  </ul>
  <%= paginate users %>
<% end %>  
</div>
