<div class ="overflow text-center">
 <div class="card-deck">
  <% posts.each do |post| %>
  <div class ="col-sm-6">
    <div class="card card-body mb-3 p-0 w-90 mx-auto" id="postcard">
      <div class="media m-1">
         <div class ="userprofile">
             <% if post.user.image_name? %>
            <%= image_tag post.user.image_name.thumb100.url %>
            <% else %>
            <%= image_tag 'default.png', :size => '50x50' %>
            <% end %>
         </div> 
       <div class="media body mt-2">
         <div class="font-weight-bold ml-3">
           <%= link_to post.user.name, user_path(post.user),:style=>"color:black;" %>
         </div>
       </div>
      </div>
      <div class="postimage">
          <%= image_tag post.image_name.url if post.image_name? %>
      </div>
       <div class="font-weight-bold mt-2 text-center">
            <%= link_to post.title, post_path(post),:style=>"color:black;" %>
            <span class="float-right mb-1 mr-1">
           <%= render 'favorites/favorite_button', post: post %>
           </span>
       </div>
    </div>  
  </div>
  <% end %>
  <%= paginate posts %>
  </div>
</div>
