<div class="text-center">
  <h1>Travel diary</h1>
</div>  
<div class="card card-body bg-white">
    <div class="text-center">
           <h3><%= link_to @post.user.name, user_path(@post.user) %>'s diary</h3>
    </div>       
    <div class="row">
        <div class ="col-sm-5 text-center", id="post_show">
            <%= image_tag @post.image_name.thumb400.url if @post.image_name? %>
            <% if current_user == @post.user %>
            <%= link_to "Delete", @post, method: :delete, data: { confirm: "本当に削除しますか?" }, class: 'btn btn-danger btn-sm' %>
            <% end %>
            <div class="d-flex align-items-end text-muted"> <%=  l @post.created_at %></div> 
        </div>
        <div class ="col-sm-6">
            <h2 class="text-center"><%= @post.title %></h2>
            <%= @post.content%>
        </div>
    </div>    
</div>